/*
.container{
    width: 100%;
    min-height: 100vh;
}

.header-container{
    height: 80px;
    padding: 0 30px;
    background: #7159c1;
    color: #FFF;

    display: flex;
    align-items: center;
}

.board-container{
    min-height: 100vh;
    margin-top: 90px;
}

.card-container{

}

.card-container header {
    
}*/