@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    max-width: auto;
}

.initial-container{
    
    display: flex;
    justify-content: space-between;
}
.initial-container div{
    
    padding: 500px auto;
    min-height: 1000px;
    max-width: 1000px;
}
.initial-container #logo{
    font-family: 'Permanent Marker', cursive;
    margin-top: 50px;
    font-size: 40px;
    color: #00e0ff

}
.initial-container #description{
    font-family: 'Permanent Marker', cursive;
    margin-top: 50px;
    font-size: 18px;
    color: black;
    text-align: center;
    max-width: 600px;
      

}
.initial-first{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    
}
.initial-second{
    position: relative;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: auto;
    background-color: #00e0ff;
   
}

.initial-second button{
    
    background: linear-gradient(180deg, #0E0D0D 0%, rgba(255, 238, 238, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%, #000000 100%);;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 100px;
    line-height: 60px;
    transition: filter 0.2s;
  
    
    
}
.initial-second button:hover{
    opacity: 0.8;
}