
.header-container {
    top: 0;
    width: 100%;
 
    margin: 0px auto;
    position: fixed;
    z-index: 9;
    background-color: #070707;
}

.header-container header {
    display: flex;
    align-items: center;
   
}

.header-container header span {
    font-size: 20px;
    margin-left: 30px;
    color: #F0F0F5;
}

.header-container header img {
    margin-left: 25px;
    height: 60px;
    width: 60px;
    border-radius: 80px;
}
.header-container header img:hover {
    background-color: #2d2d2d;
}

.header-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.header-container header button {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    border: 1px solid #2f2f31;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.header-container header button:hover {
    background-color: #2d2d2d;
}

.home-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 10px 10px;
    min-height: 100vh;
    padding-top: 25px;
}

.home-container h1 {
    margin-top: 80px;
    margin-bottom: 24px;
    color: #F0F0F5;
}

.home-container ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 63px;
    list-style: none;
}

.home-container ul li {
    
    border-radius: 8px;
    position: relative;
}
#search{
    margin-left: 40px;
    
    border: 1px solid #2f2f31;
    background-color: #070707;
    height: 50px;
    color: whitesmoke;
    
}



